node_modules/
dist/
.env
*.log
.turbo
.DS_Store
Thumbs.db
*.bak
*.tmp
minio-data/
postgres-data/
redis-data/
__pycache__/
*.pyc
*.db
pnpm-lock.yaml
pnpm-workspace.yaml
pnpmfile-temp.json
package-temp.json
package-lock.json
data/
